<div
  class="flex flex-col lg:flex-row w-full h-full justify-center items-center px-5"
>
  <div class="w-full lg:w-2/5 mb-5 lg:mb-0 mt-3 animate-float-image">
    <img
      src="https://mahmood-sandy.vercel.app/coder.jpg"
      alt="Quadri"
      class="w-full h-auto"
    />
  </div>
  <div class="w-full lg:w-3/5 text-center lg:text-left">
    <h2 class="text-3xl font-bold mb-4 text-center">
      ABOUT <span class="text-blue-500">ME</span>
    </h2>
    <h3 class="text-xl font-semibold mb-2">Frontend Developer</h3>
    <p class="mb-4 text-justify">
      Hi, I'm Quadri, a frontend developer and software engineer hailing from
      the vibrant city of Lagos, Nigeria. I hold a bachelor's degree in Physics
      from Lagos State University. My diverse academic background has shaped my
      approach to problem-solving, giving me a unique analytical mindset that
      complements my work in the tech industry. <br /><br />
      Over the years, I’ve developed a passion for creating seamless,
      user-friendly web applications with clean code and intuitive design. I
      specialize in Angular, NestJS, JavaScript, HTML, and CSS, and i've had the
      privilege of working on a variety of projects that have honed my skills in
      web development. Whether building a product from scratch or improving an
      existing one, I take pride in delivering solutions that are efficient,
      responsive, and impactful.
    </p>
    <p class="mb-4 text-justify" *ngIf="isExpanded">
      As a developer, I’ve been fortunate enough to work and collaborate with
      talented teams. These experiences have not only strengthened my technical
      abilities but also deepened my appreciation for teamwork. <br /><br />
      I firmly believe that "a strong team is the cornerstone of success." I
      value communication and collaboration in every project, striving to create
      an environment where every team member feels motivated and aligned with
      the common goal. <br /><br />
      Outside of coding, I find balance in playing table tennis and basketball.
      These activities fuel my creativity and keep me energized. When I’m not on
      the court or at the ping pong table, you can find me exploring the latest
      trends in technology and constantly pushing myself to learn and grow.
      <br /><br />
      Thank you for visiting my portfolio—I'm excited to share my journey and
      work with you!
    </p>

    <span
      (click)="toggleText()"
      class="text-blue-500 hover:text-blue-700 cursor-pointer"
      >{{ isExpanded ? "Show less" : "Read more" }}</span
    >

    <p
      class="text-gray-600 hover:text-gray-500 cursor-pointer mt-10"
      routerLink="/services"
    >
      Checkout my services →
    </p>
  </div>
</div>
