<div
  class="flex flex-col lg:flex-row w-full h-full justify-center items-center px-5"
>
  <div class="w-full lg:w-2/5 mb-5 lg:mb-0 mt-3 animate-float-image">
    <img
      src="https://mahmood-sandy.vercel.app/coder.jpg"
      alt="Quadri"
      class="w-full h-auto"
    />
  </div>
  <div class="w-full lg:w-3/5 text-center lg:text-left">
    <h2 class="text-3xl font-bold mb-4 text-center">
      ABOUT <span class="text-blue-500">ME</span>
    </h2>
    <h3 class="text-xl font-semibold mb-2">Frontend Developer</h3>
    <p class="mb-4 leading-relaxed">
      Hi, I'm Quadri, a Frontend Developer and Software Engineer from the
      vibrant city of Lagos, Nigeria. I hold a Bachelor's degree in Physics from
      Lagos State University, and my diverse academic background has shaped my
      analytical approach to problem-solving in the tech industry. <br /><br />
      I’m passionate about creating seamless, user-friendly web applications
      with clean, efficient code and intuitive designs. Specializing in Angular,
      JavaScript, HTML, and CSS, I’ve had the privilege of working on a range of
      projects that have honed my skills in web development. Whether building
      from scratch or enhancing existing solutions, I pride myself on delivering
      responsive, impactful results.
    </p>
    <p class="mb-4 leading-relaxed" *ngIf="isExpanded">
      Throughout my career, I’ve been fortunate to collaborate with talented
      teams that have enriched my technical skills and deepened my belief in the
      power of teamwork. I strongly believe that "a strong team is the
      cornerstone of success." I value open communication and collaboration in
      every project, ensuring every team member feels aligned and motivated
      toward a common goal.
      <br /><br />
      Outside of coding, I enjoy staying active through table tennis and
      basketball. These hobbies fuel my creativity and keep me energized. When
      I’m not on the court or at the ping pong table, I love exploring new tech
      trends and pushing myself to learn and grow. <br /><br />
      Thank you for visiting my portfolio—I'm excited to share my journey and
      collaborate with you!
    </p>

    <span
      (click)="toggleText()"
      class="text-blue-500 hover:text-blue-700 cursor-pointer"
      >{{ isExpanded ? "Show less" : "Read more" }}</span
    >

    <p
      class="text-gray-600 hover:text-gray-500 cursor-pointer mt-10"
      routerLink="/services"
    >
      Checkout my services →
    </p>
  </div>
</div>
