<div class="w-full h-full max-w-full mx-auto px-10 mb-20 mt-5">
  <h2 class="mb-16 text-3xl font-bold">
    Latest <span class="text-blue-400">Projects</span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    <div
      class="box relative p-4 rounded-2xl shadow-lg transition-transform hover:scale-105"
    >
      <img
        class="w-full transition-transform ease-in-out duration-500 opacity-70 rounded-t-[2rem] hover:scale-110"
        src="https://www.shutterstock.com/image-photo/project-manager-working-on-computer-600nw-2002388855.jpg"
        alt="Web Design"
      />
      <div class="mt-4">
        <h4 class="text-xl font-semibold mb-2 text-blue-400">PAC 8</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas commodi
          ab non omnis voluptates sint labore velit laboriosam, laborum
          explicabo molestias deserunt doloribus tempore possimus dolore a?
          Saepe, ab id.
        </p>
        <i class="fa-solid fa-up-right-from-square text-white"></i>
      </div>
    </div>

    <div
      class="box relative p-4 rounded-2xl shadow-lg transition-transform hover:scale-105"
    >
      <img
        class="w-full transition-transform ease-in-out duration-500 opacity-70 rounded-t-[2rem] hover:scale-110"
        src="https://www.shutterstock.com/image-photo/project-manager-working-on-computer-600nw-2002388855.jpg"
        alt="Web Design"
      />
      <div class="mt-4">
        <h4 class="text-xl font-semibold mb-2 text-blue-400">Q-CART</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas commodi
          ab non omnis voluptates sint labore velit laboriosam, laborum
          explicabo molestias deserunt doloribus tempore possimus dolore a?
          Saepe, ab id.
        </p>
        <i class="fa-solid fa-up-right-from-square text-white"></i>
      </div>
    </div>

    <div
      class="box relative p-4 rounded-2xl shadow-lg transition-transform hover:scale-105"
    >
      <img
        class="w-full transition-transform ease-in-out duration-500 opacity-70 rounded-t-[2rem] hover:scale-110"
        src="https://www.shutterstock.com/image-photo/project-manager-working-on-computer-600nw-2002388855.jpg"
        alt="Web Design"
      />
      <div class="mt-4">
        <h4 class="text-xl font-semibold mb-2 text-blue-400">TRAVELERS LIST</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas commodi
          ab non omnis voluptates sint labore velit laboriosam, laborum
          explicabo molestias deserunt doloribus tempore possimus dolore a?
          Saepe, ab id.
        </p>
        <i class="fa-solid fa-up-right-from-square text-white"></i>
      </div>
    </div>

    <div
      class="box relative p-4 rounded-2xl shadow-lg transition-transform hover:scale-105"
    >
      <img
        class="w-full transition-transform ease-in-out duration-500 opacity-70 rounded-t-[2rem] hover:scale-110"
        src="https://www.shutterstock.com/image-photo/project-manager-working-on-computer-600nw-2002388855.jpg"
        alt="Web Design"
      />
      <div class="mt-4">
        <h4 class="text-xl font-semibold mb-2">Web Design</h4>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas commodi
          ab non omnis voluptates sint labore velit laboriosam, laborum
          explicabo molestias deserunt doloribus tempore possimus dolore a?
          Saepe, ab id.
        </p>
        <i class="fa-solid fa-up-right-from-square text-white"></i>
      </div>
    </div>
  </div>
</div>
