<div class="mx-4 mt-10">
  <h2 class="mb-8 text-3xl font-bold">
    My <span class="text-blue-400">Services</span>
  </h2>

  <div class="flex flex-wrap justify-center items-center gap-[2rem]">
    <div
      class="flex-grow flex-shrink basis-[30rem] bg-[#a6c1ee] pt-[3rem] pr-[2rem] pb-[4rem] pl-[2rem] rounded-[2rem] text-center border-solid border-2 border-indigo-400 ease-in-out duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-code text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">Web Development</h3>
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href=""
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>

    <div
      class="flex-grow flex-shrink basis-[30rem] bg-[#a6c1ee] pt-[3rem] pr-[2rem] pb-[4rem] pl-[2rem] rounded-[2rem] text-center border-solid border-2 border-indigo-400 ease-in-out duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-palette text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">UI/UX Designing</h3>
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href=""
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>

    <div
      class="flex-grow flex-shrink basis-[30rem] bg-[#a6c1ee] pt-[3rem] pr-[2rem] pb-[4rem] pl-[2rem] rounded-[2rem] text-center border-solid border-2 border-indigo-400 ease-in-out duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-android text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">App Development</h3>
      <p class="mb-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href=""
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>
  </div>
</div>
