<div class="w-full h-full max-w-full mx-auto px-10 mb-60 mt-5">
  <h2 class="mb-14 text-3xl font-bold text-center">
    My <span class="text-blue-400">Services</span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-code text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">Web Development</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>
    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-palette text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">UI/UX Designing</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>

    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-android text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">App Development</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>
  </div>
</div>

<!-- <div class="mx-4 mt-10 mb-10">
  <h2 class="mb-8 text-3xl font-bold text-center">
    My <span class="text-blue-400">Services</span>
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
   
    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-code text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">Web Development</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>


    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-palette text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">UI/UX Designing</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>

    <div
      class="w-full md:w-[30rem] bg-[#a6c1ee] p-8 rounded-[2rem] text-center border-2 border-indigo-400 transition-transform duration-500 hover:scale-105 hover:border-blue-500"
    >
      <i class="fa-solid fa-android text-3xl mb-4 text-blue-500"></i>
      <h3 class="text-xl font-semibold mb-2">App Development</h3>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit
        praesentium similique facilis vel doloremque sint expedita voluptates,
        culpa ipsa dolore illo aliquid rerum, ad quia ab eligendi error aliquam.
      </p>
      <a
        href="#"
        class="bg-blue-500 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
        >Read More</a
      >
    </div>
  </div>
</div> -->
