<div
  class="flex flex-col lg:flex-row w-full h-full justify-center items-center ml-5 mr-5 mb-10"
>
  <div class="w-full lg:w-3/5 h-full mt-3 mx-10">
    <h3 class="text-4xl font-bold mb-2">Hello 👋,</h3>
    <h1 class="text-5xl font-medium mb-2">I'm Quadri Alarape</h1>
    <h3 class="text-3xl font-bold mb-2">
      A <span class="text-red-500">FrontEnd Developer</span>
    </h3>
    <p class="pb-7 text-lg">
      based in Lagos, Nigeria, with expertise in Angular, JavaScript, HTML, and
      CSS. I am passionate about creating intuitive, responsive web applications
      that blend modern design with robust performance. With a strong focus on
      detail and user experience, I take pride in building digital products that
      not only look polished but also function flawlessly across devices. I’m
      always eager to take on new challenges and push the boundaries of what’s
      possible in web development. Welcome to my portfolio!
    </p>
    <a class="text-gray-600 hover:text-gray-500" routerLink="/about"
      >Read more about me →</a
    >
    <div class="flex justify-center space-x-6 lg:space-x-8 flex-wrap">
      <a href="">
        <i
          class="fa-brands fa-github inline-flex justify-center items-center w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 text-xl md:text-2xl lg:text-3xl transition ease duration-500 m-6 hover:text-blue-600"
        ></i>
      </a>
      <a href="">
        <i
          class="fa-brands fa-x-twitter inline-flex justify-center items-center w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 text-xl md:text-2xl lg:text-3xl transition ease duration-500 m-6 hover:text-blue-500"
        ></i>
      </a>
      <a href="">
        <i
          class="fa-brands fa-instagram inline-flex justify-center items-center w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 text-xl md:text-2xl lg:text-3xl transition-colors duration-500 m-6 hover:text-[#E1306C]"
        ></i>
      </a>
      <a href="">
        <i
          class="fa-brands fa-linkedin-in inline-flex justify-center items-center w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 text-xl md:text-2xl lg:text-3xl transition ease duration-500 m-6 hover:text-blue-500"
        ></i>
      </a>
    </div>
    <button
      class="bg-blue-400 text-white px-5 py-2 rounded-full hover:bg-[#87acec]"
    >
      Download CV
    </button>
  </div>

  <div class="w-full lg:w-2/5 h-full mt-3 animate-float-image">
    <img src="https://mahmood-sandy.vercel.app/coder.jpg" alt="Quadri" />
  </div>
</div>
