<div class="flex flex-col lg:flex-row w-full h-full">
  <div class="w-full lg:w-3/5 h-full justify-center items-center">
    <h3>Hi,</h3>
    <h1>i'm Quadri Alarape</h1>
    <h3>A FrontEnd Developer</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt cupiditate
      temporibus beatae nesciunt ab quam corrupti quaerat itaque adipisci modi
      expedita eos iure at, ad, ratione vel. Illo, nulla sunt?
    </p>
    <div>
      <a href=""> <i class="fa-brands fa-facebook"></i> </a>
      <a href=""> <i class="fa-brands fa-twitter"></i> </a>
      <a href=""> <i class="fa-brands fa-instagram"></i> </a>
      <a href=""> <i class="fa-brands fa-linkedin-in"></i> </a>
    </div>
    <button class="">Download CV</button>
  </div>

  <div class="w-full lg:w-2/5 h-full">
    <img src="https://mahmood-sandy.vercel.app/coder.jpg" alt="Quadri" />
  </div>
</div>
